<div class="slot-group row mb-3">
    {% if slot_formset.non_form_errors %}
    <div class="alert alert-danger">
        {{ slot_formset.non_form_errors }}
    </div>
    {% endif %}

    {% for hidden in slot_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div class="col-4">
        <label class="form-label" for="{{ slot_form.day.id_for_label }}">Day</label>
        <select name="{{ slot_form.day.html_name }}" id="{{ slot_form.day.id_for_label }}" class="form-control">
            {% for val, label in slot_form.day.field.choices %}
            <option value="{{ val }}" {% if slot_form.day.value == val %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>
        <p style="color: red;">{{ slot_form.day.errors }}</p>
    </div>

    <div class="col-3">
        <label class="form-label">Start Time</label>
        <input type="time" name="{{ slot_form.start_time.html_name }}" id="{{ slot_form.start_time.id_for_label }}"
            value="{{ slot_form.start_time.value|stringformat:'s' }}" class="form-control" step="60">
        <p style="color: red;">{{ slot_form.start_time.errors }}</p>
    </div>

    <div class="col-3">
        <label class="form-label">End Time</label>
        <input type="time" name="{{ slot_form.end_time.html_name }}" id="{{ slot_form.end_time.id_for_label }}"
            value="{{ slot_form.end_time.value|stringformat:'s' }}" class="form-control" step="60">
        <p style="color: red;">{{ slot_form.end_time.errors }}</p>
    </div>

    {% if slot_form.DELETE %}
    <div class="col-2 d-flex align-items-center">
        <div class="form-check mt-4">
            <input type="checkbox" class="form-check-input" name="{{ slot_form.DELETE.html_name }}"
                id="{{ slot_form.DELETE.id_for_label }}">
            <label class="form-check-label" for="{{ slot_form.DELETE.id_for_label }}">
                Delete
            </label>
        </div>
    </div>
    {% endif %}
</div>