{% extends 'layout.html' %}

{% block title %}Courses | CMS{% endblock %}

{% block header_scripts %}
{% load static %}

<style>
.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
</style>
{% endblock %}

{% block content %}
<h1 class="text-center mb-3">Courses</h1>
<div class="d-flex justify-content-end"><a href="{% url 'course-create' %}">Add course</a></div>
<div class="d-flex gap-3 justify-content-around">
    {% for course in courses %}
    <a href="{% url 'course-update' course.pk %}">
        <div class="card">
            {% static 'images/courses/default_image.jpeg' as fallback_image %}
            {% with image=course.image.url|default:fallback_image %} 
            <img src="{{ image }}" class="card-img-top course-image" alt="{{ course.title }} image">
            {% endwith %}
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p>{{ course.description }}</p>
                <p>language: {{ course.language }}</p>
            </div>
        </div>
    </a>
    {% empty %}
    <div class="d-flex align-items-center" style="height: 80vh;">
        <p class="text-success">No course exists..!</p>
    </div>
    {% endfor %}
</div>
{% endblock %}